.big-post__container {
    width: 816px;
    height: 604px;
    flex-direction: column;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 200;
}

@media all and (max-width: 767px) {
    .big-post__container {
        width: 433px;
    }
}

@media all and (max-width: 450px) {
    .big-post__container {
        width: 320px;
    }
} 