.profile__button-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media all and (max-width: 767px) {
    .profile__button-container {
        justify-content: center;
        margin: 0 19px 0 19px;
    }
} 