.big-post__image{
    width: 816px;
    height: 540px;
}

@media all and (max-width: 767px) {
    .big-post__image {
        width: 433px;
    }
} 

@media all and (max-width: 450px) {
    .big-post__image {
        width: 320px;
    }
} 